<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AlumnoEjemplos.Socketes.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AlumnoEjemplos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AlumnoEjemplos.Socketes.Settings>
            <setting name="camaraOffsetHeight" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="camaraOffsetForward" serializeAs="String">
                <value>-400</value>
            </setting>
            <setting name="mediaFolder" serializeAs="String">
                <value>AlumnoMedia\Socketes\</value>
            </setting>
            <setting name="textureBall" serializeAs="String">
                <value>Texturas\pelota1.jpg</value>
            </setting>
            <setting name="textureField" serializeAs="String">
                <value>Texturas\cancha1.jpg</value>
            </setting>
            <setting name="textureTeam1" serializeAs="String">
                <value>Textures\uvw.png</value>
            </setting>
            <setting name="meshFolderPlayer" serializeAs="String">
                <value>SkeletalAnimations\Robot\</value>
            </setting>
            <setting name="meshFilePlayer" serializeAs="String">
                <value>Robot-TgcSkeletalMesh.xml</value>
            </setting>
            <setting name="animationWalkFilePlayer" serializeAs="String">
                <value>Caminando-TgcSkeletalAnim.xml</value>
            </setting>
            <setting name="animationRunFilePlayer" serializeAs="String">
                <value>Correr-TgcSkeletalAnim.xml</value>
            </setting>
            <setting name="animationStopFilePlayer" serializeAs="String">
                <value>Parado-TgcSkeletalAnim.xml</value>
            </setting>
            <setting name="animationStopPlayer" serializeAs="String">
                <value>Parado</value>
            </setting>
            <setting name="animationRunPlayer" serializeAs="String">
                <value>Correr</value>
            </setting>
            <setting name="animationWalkPlayer" serializeAs="String">
                <value>Caminando</value>
            </setting>
            <setting name="meshFileTribunePo" serializeAs="String">
                <value>Tribuna\TribunaPopular-TgcScene.xml</value>
            </setting>
            <setting name="meshFileGoal" serializeAs="String">
                <value>Arco\Arco-Separado-TgcScene.xml</value>
            </setting>
            <setting name="meshFileTribunePl" serializeAs="String">
                <value>Tribuna\TribunaPlatea-TgcScene.xml</value>
            </setting>
            <setting name="music" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Audio\FIFA 1998 - Blur - Song 2.mp3</string>
                        <string>Audio\FIFA World Cup 1998 - Chumbawamba - Tubthumping.mp3</string>
                        <string>Audio\FIFA 1999 - Fatboy Slim - The Rockafeller Skank.mp3</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="texturePicadito1" serializeAs="String">
                <value>Menu\picadito.png</value>
            </setting>
            <setting name="texturePicadito2" serializeAs="String">
                <value>Menu\picadito-seleccionado.png</value>
            </setting>
            <setting name="textureControles1" serializeAs="String">
                <value>Menu\controles.png</value>
            </setting>
            <setting name="textureControles2" serializeAs="String">
                <value>Menu\controles-seleccionado.png</value>
            </setting>
            <setting name="textureSalir1" serializeAs="String">
                <value>Menu\salir.png</value>
            </setting>
            <setting name="textureSalir2" serializeAs="String">
                <value>Menu\salir-seleccionado.png</value>
            </setting>
            <setting name="texturePanelcontroles" serializeAs="String">
                <value>Menu\panel-controles.png</value>
            </setting>
            <setting name="textureFloor" serializeAs="String">
                <value>Texturas\piso1.jpg</value>
            </setting>
            <setting name="textureTeam2" serializeAs="String">
                <value>Textures\uvwGreen.png</value>
            </setting>
            <setting name="textureMenuField" serializeAs="String">
                <value>Texturas\canchaMenu.jpg</value>
            </setting>
            <setting name="textureWall" serializeAs="String">
                <value>Texturas\wall-texture.jpg</value>
            </setting>
            <setting name="textureSkyFacesUp" serializeAs="String">
                <value>SkyBox\11.png</value>
            </setting>
            <setting name="textureSkyFaceDown" serializeAs="String">
                <value>SkyBox\22.png</value>
            </setting>
            <setting name="textureSkyFaceLeft" serializeAs="String">
                <value>SkyBox\33.png</value>
            </setting>
            <setting name="textureSkyFaceRight" serializeAs="String">
                <value>SkyBox\55.png</value>
            </setting>
            <setting name="textureSkyFaceFront" serializeAs="String">
                <value>SkyBox\44.png</value>
            </setting>
            <setting name="textureSkyFaceBack" serializeAs="String">
                <value>SkyBox\66.png</value>
            </setting>
        </AlumnoEjemplos.Socketes.Settings>
        <AlumnoEjemplos.Properties.Settings>
            <setting name="picadito1" serializeAs="String">
                <value>Menu\\picadito.png</value>
            </setting>
            <setting name="picadito2" serializeAs="String">
                <value>Menu\\picadito-seleccionado.png</value>
            </setting>
            <setting name="controles1" serializeAs="String">
                <value>Menu\\controles.png</value>
            </setting>
            <setting name="controles2" serializeAs="String">
                <value>Menu\\controles-seleccionado.png</value>
            </setting>
            <setting name="salir1" serializeAs="String">
                <value>Menu\\salir.png</value>
            </setting>
            <setting name="salir2" serializeAs="String">
                <value>Menu\\salir-seleccionado.png</value>
            </setting>
            <setting name="panelcontroles" serializeAs="String">
                <value>Menu\\panel-controles.png</value>
            </setting>
            <setting name="textureFloor" serializeAs="String">
                <value>piso1.jpg</value>
            </setting>
        </AlumnoEjemplos.Properties.Settings>
    </userSettings>
</configuration>