<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AlumnoEjemplos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AlumnoEjemplos.Properties.Settings>
            <setting name="camaraOffsetHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="camaraOffsetForward" serializeAs="String">
                <value>-600</value>
            </setting>
            <setting name="mediaFolder" serializeAs="String">
                <value>Media\</value>
            </setting>
            <setting name="textureFolder" serializeAs="String">
                <value>Texturas\</value>
            </setting>
            <setting name="textureBall" serializeAs="String">
                <value>pelota1.jpg</value>
            </setting>
            <setting name="textureField" serializeAs="String">
                <value>cancha1.jpg</value>
            </setting>
            <setting name="textureTeam1" serializeAs="String">
                <value>Textures\uvw.jpg</value>
            </setting>
            <setting name="textureTeam2" serializeAs="String">
                <value>Textures\uvwGreen.jpg</value>
            </setting>
            <setting name="meshFolderPlayer" serializeAs="String">
                <value>SkeletalAnimations\Robot\</value>
            </setting>
            <setting name="meshFilePlayer" serializeAs="String">
                <value>Robot-TgcSkeletalMesh.xml</value>
            </setting>
            <setting name="animationWalkFilePlayer" serializeAs="String">
                <value>Caminando-TgcSkeletalAnim.xml</value>
            </setting>
            <setting name="animationRunFilePlayer" serializeAs="String">
                <value>Correr-TgcSkeletalAnim.xml</value>
            </setting>
            <setting name="animationStopFilePlayer" serializeAs="String">
                <value>Parado-TgcSkeletalAnim.xml</value>
            </setting>
            <setting name="animationStopPlayer" serializeAs="String">
                <value>Parado</value>
            </setting>
            <setting name="animationRunPlayer" serializeAs="String">
                <value>Correr</value>
            </setting>
            <setting name="animationWalkPlayer" serializeAs="String">
                <value>Caminando</value>
            </setting>
            <setting name="meshFileTribunePo" serializeAs="String">
                <value>Tribuna\TribunaPopular-TgcScene.xml</value>
            </setting>
            <setting name="meshFileGoal" serializeAs="String">
                <value>Arco\Arco-TgcScene.xml</value>
            </setting>
            <setting name="meshFileTribunePl" serializeAs="String">
                <value>Tribuna\TribunaPlatea-TgcScene.xml</value>
            </setting>
            <setting name="music" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Audio\FIFA 1998 - Blur - Song 2.mp3</string>
                        <string>Audio\FIFA World Cup 1998 - Chumbawamba - Tubthumping.mp3</string>
                        <string>Audio\FIFA 1999 - Fatboy Slim - The Rockafeller Skank.mp3</string>
                    </ArrayOfString>
                </value>
            </setting>
        </AlumnoEjemplos.Properties.Settings>
    </userSettings>
</configuration>